@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&family=Roboto+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body, #root{
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

/* Navbar.js */

.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 30px 0px;
    margin-bottom: 100px;
    /* background-color: black; */
}

ul{
    display: flex;
    gap: 20px;
    margin-right: 4rem;
}

li{
    list-style-type: none;
    font-weight: bold;
}

li a{
    font-size: 1.3rem;
    color: black;
    /* color: white; */
}

li a:hover{
    color: #8b8b8b;
}

.navbar-link:link, .navbar-link:visited, .navbar-link:hover, .navbar-link:active{
    text-decoration: none;
}

/* Home.js */

#home{
    position: relative;
    display: flex;
    justify-content: center;
    transform: translate(-100px);
}

div.home-img-container{
    max-height: 500px;
    text-align: center;
}

img.home-img{
    height: 100%;
    width: auto;
}

div.home-text{
    background-color: #f4f4f5;
    padding: 30px 50px;
    border-radius: 30px;
    position: absolute;
    top: 30%;
    left: 50%;
    max-width: 650px;
    max-height: 250px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

div.home-greeting{
    font-size: 50px;
    font-weight: bold;
    margin-left: 5px;
    color: #F08080;
}

div.home-intro{
    margin-top: 5px;
    font-size: 25px;
}

/* Projects.js */

.project-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    place-items: center;
}

#projects{
    padding: 10px 50px;
}

.my-projects-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 45px;
    color: #00958A;
}

.card-container{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 100%;
    transition: transform 0.2s ease-in-out; 
}

.card-container:hover{
    transform: scale(1.03);
}

.card-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f4;
    padding: 1rem 2.5rem;
    min-height: 130px;
    max-height: 450px;
    transition: background-color 0.2s linear; 
}

.card-container:hover > .card-details{
    background-color: #e4e4e4;
}
   

.card-description{
    color: #334155;
}

.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.img-container{
    height: 300px;
}

picture{
    width: 100%;
    height: 100%;
    display: flex;  
}

.project-img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.project-icons>:first-child{
    margin-right: 5px;
}

.icon-link{
    color: black;
}

.icon-link:link, .icon-link:visited, .icon-link:hover, .icon-link:active{
    text-decoration: none;
}

.icon-link:hover{
    color: #F08080;
}

/* Contact.js */

#contact{
    background-color: #61C2A2;
    height: 300px;
    padding: 50px;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-details>p{
    margin: 20px;
    font-size: 1.2rem;
}

.contact-title{
    font-size: 40px;
    font-weight: bold;
}

.contact-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contact-icon{
    color: #fafafa;
}

.contact-icon:hover{
    color: #F08080;
}

/* Media queries */

@media (max-width: 1024px){
    .navbar{
        padding: 20px 0px;
    }
    
    ul{
        gap: 10px;
        margin-right: 2em;
    }

    #home{
        transform: translate(0);
        flex-direction: column;
        align-items: center;
    }

    img.home-img{
        height: 400px;
        width: auto;
    }

    div.home-text{
        padding: 10px 30px;
        border-radius: 20px;
        position: static;
        transform: translateY(-250px);
        width: 90%;
    }

    div.home-greeting{
        font-size: 30px;
    }
    
    div.home-intro{
        font-size: 20px;
    }

    #contact{
        height: 250px;
    }

    .contact-title{
        font-size: 30px;
    }
}

@media (max-width: 640px){
    li a{
        font-size: 1rem;
    }

    img.home-img{
        height: 250px;
        width: auto;
    }

    div.home-text{
        padding: 10px 30px;
        transform: translateY(-170px);
        width: 80%;
    }

    div.home-greeting{
        font-size: 25px;
    }
    
    div.home-intro{
        font-size: 16px;
    }

    #projects{
        padding: 10px 30px;
    }

    .project-container{
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .my-projects-title{
        font-size: 30px;
        margin-bottom: 25px;
    }

    .card-title>h3{
        font-size: 1.1rem;
    }

    .card-details{
        padding: 1rem;
    }

    a.icon-link>svg{
        width: 1.5rem !important;
        height: 1.5rem !important;
    }

    .contact-title{
        font-size: 25px;
    }

    .contact-details>p{
        margin: 10px;
        font-size: 1rem;
    }

    a.contact-icon>svg{
        width: 2rem !important;
        height: 2rem !important;
    }
}